@charset "UTF-8";
/* 全体のスタイル */
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#backButton {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #8da3b7;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#backButton:hover {
  background-color: #404f5d;
}

/* 入力画面 */
#textDisplay {
  text-align: center;
  margin-bottom: 1.5rem;
  user-select: none;
}
#textDisplay #inputKeywordDisplay {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}
#textDisplay #inputKeywordDisplay span.coordinate,
#textDisplay #originalTextDisplay span.coordinate {
  font-weight: bold;
}
#textDisplay .next-char {
  color: red;
  font-weight: bold;
  background-color: yellow;
}

/* キーボード */
#keyboard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 40px);
  height: 200px;
}
#keyboard div {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  user-select: none;
  cursor: pointer;
}
#keyboard .key_Backquote {
  left: 0px;
  top: 0px;
}
#keyboard .key_Digit1 {
  left: 41px;
  top: 0px;
}
#keyboard .key_Digit2 {
  left: 82px;
  top: 0px;
}
#keyboard .key_Digit3 {
  left: 123px;
  top: 0px;
}
#keyboard .key_Digit4 {
  left: 164px;
  top: 0px;
}
#keyboard .key_Digit5 {
  left: 205px;
  top: 0px;
}
#keyboard .key_Digit6 {
  left: 246px;
  top: 0px;
}
#keyboard .key_Digit7 {
  left: 287px;
  top: 0px;
}
#keyboard .key_Digit8 {
  left: 328px;
  top: 0px;
}
#keyboard .key_Digit9 {
  left: 369px;
  top: 0px;
}
#keyboard .key_Digit0 {
  left: 410px;
  top: 0px;
}
#keyboard .key_Minus {
  left: 451px;
  top: 0px;
}
#keyboard .key_Equal {
  left: 492px;
  top: 0px;
}
#keyboard .key_IntlYen {
  left: 533px;
  top: 0px;
}
#keyboard .key_Backspace {
  left: 574px;
  top: 0px;
}
#keyboard .key_Tab {
  width: 54px;
  left: 0px;
  top: 41px;
}
#keyboard .key_KeyQ {
  left: 61px;
  top: 41px;
}
#keyboard .key_KeyW {
  left: 102px;
  top: 41px;
}
#keyboard .key_KeyE {
  left: 143px;
  top: 41px;
}
#keyboard .key_KeyR {
  left: 184px;
  top: 41px;
}
#keyboard .key_KeyT {
  left: 225px;
  top: 41px;
}
#keyboard .key_KeyY {
  left: 266px;
  top: 41px;
}
#keyboard .key_KeyU {
  left: 308px;
  top: 41px;
}
#keyboard .key_KeyI {
  left: 349px;
  top: 41px;
}
#keyboard .key_KeyO {
  left: 390px;
  top: 41px;
}
#keyboard .key_KeyP {
  left: 431px;
  top: 41px;
}
#keyboard .key_BracketLeft {
  left: 472px;
  top: 41px;
}
#keyboard .key_BracketRight {
  left: 513px;
  top: 41px;
}
#keyboard #key_13_1 {
  width: 19px;
  left: 553px;
  top: 41px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#keyboard #key_13_2 {
  width: 37px;
  left: 573px;
  top: 41px;
  border-bottom: none;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#keyboard #key_13_3 {
  width: 36px;
  height: 43px;
  left: 573px;
  top: 75px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#keyboard .key_CapsLock {
  width: 76px;
  left: 0px;
  top: 82px;
}
#keyboard .key_KeyA {
  left: 81px;
  top: 82px;
}
#keyboard .key_KeyS {
  left: 122px;
  top: 82px;
}
#keyboard .key_KeyD {
  left: 163px;
  top: 82px;
}
#keyboard .key_KeyF {
  left: 204px;
  top: 82px;
  text-decoration: underline;
}
#keyboard .key_KeyG {
  left: 245px;
  top: 82px;
}
#keyboard .key_KeyH {
  left: 286px;
  top: 82px;
}
#keyboard .key_KeyJ {
  left: 327px;
  top: 82px;
  text-decoration: underline;
}
#keyboard .key_KeyK {
  left: 368px;
  top: 82px;
}
#keyboard .key_KeyL {
  left: 409px;
  top: 82px;
}
#keyboard .key_Semicolon {
  left: 450px;
  top: 82px;
}
#keyboard .key_Quote {
  left: 491px;
  top: 82px;
}
#keyboard .key_Backslash {
  left: 532px;
  top: 82px;
}
#keyboard .key_AltLeft {
  top: 164px;
  left: 102px;
}
#keyboard .key_NonConvert {
  top: 164px;
  left: 143px;
}
#keyboard .key_KeyZ {
  left: 101px;
  top: 123px;
}
#keyboard .key_KeyX {
  left: 142px;
  top: 123px;
}
#keyboard .key_KeyC {
  left: 183px;
  top: 123px;
}
#keyboard .key_KeyV {
  left: 224px;
  top: 123px;
}
#keyboard .key_KeyB {
  left: 265px;
  top: 123px;
}
#keyboard .key_KeyN {
  left: 306px;
  top: 123px;
}
#keyboard .key_KeyM {
  left: 347px;
  top: 123px;
}
#keyboard .key_Comma {
  left: 388px;
  top: 123px;
}
#keyboard .key_Period {
  left: 429px;
  top: 123px;
}
#keyboard .key_Slash {
  left: 470px;
  top: 123px;
}
#keyboard .key_IntlRo {
  left: 511px;
  top: 123px;
}
#keyboard .key_ControlLeft {
  width: 54px;
  left: 0px;
  top: 164px;
}
#keyboard .key_MetaLeft {
  top: 164px;
  left: 61px;
}
#keyboard .key_Space {
  width: 179px;
  left: 184px;
  top: 164px;
}
#keyboard .key_Convert {
  top: 164px;
  left: 370px;
}
#keyboard .key_KanaMode {
  top: 164px;
  left: 411px;
}
#keyboard .key_AltRight {
  width: 54px;
  top: 164px;
  left: 452px;
}
#keyboard .key_ContextMenu {
  top: 164px;
  left: 513px;
}
#keyboard .key_ControlRight {
  width: 56px;
  top: 164px;
  left: 554px;
}
#keyboard .key_ShiftLeft {
  width: 96px;
  left: 0px;
  top: 123px;
}
#keyboard .key_ShiftRight {
  width: 58px;
  left: 552px;
  top: 123px;
}
#keyboard .rightHand {
  /* border-color: red !important; */
}
#keyboard .leftHand {
  /* border-color: darkseagreen !important; */
}
#keyboard .bothHands {
  /* border-color: blue !important; */
}
#keyboard .thumb {
  border-color: black;
}
#keyboard .indexFinger {
  border-color: red;
}
#keyboard .middleFinger {
  border-color: blue;
}
#keyboard .ringFinger {
  border-color: green;
}
#keyboard .littleFinger {
  border-color: orange;
}
#keyboard .next {
  background-color: yellow;
}
#keyboard .active {
  background-color: lightcoral;
}

/*# sourceMappingURL=keyboardUI.css.map */
